/* Global CSS settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 12px;
  color: #8a8a8a;
  margin-bottom: 2px;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* BEM named CSS settings */

.app-container {
  max-width: 1200px;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.post {
  display: flex;
  flex-direction: row;
  border: 1px solid #d3d3d3;
  border-radius: 0.2rem;
  margin: 0.7rem;
  flex: 1 1 370px;
}

.post-missed {
  flex-direction: column;
  flex: 1 1 250px;
  align-content: flex-end;
  min-height: 250px;
}

.post-new__member-preview {
  padding: 5px 0;
}

.post-new__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.post-new__member-preview--text {
  display: none;
}

.post-missed__member-preview {
  padding: 1px 0 8px 0;
}

.post__image {
  object-fit: cover;
  vertical-align: top;
}

.post-new__image {
  height: 212px;
  width: 165px;
  border-radius: 0.15rem 0 0 0.15rem;
}

.post-missed__image {
  height: 100px;
  width: 100%;
  border-radius: 0.15rem 0.15rem 0 0;
}

.posts-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.post-new__details,
.post-missed__details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  height: 100%;
  width: 100%;
}

.header {
  margin: 0 0 1rem 0;
  padding: 0 0 1rem 0;
  -webkit-box-shadow: 0px 2px 0px 0px #d3d3d3;
  box-shadow: 0px 1px 0px 0px #dedede;
}

.header__text {
  display: inline;
  padding-bottom: 1.04rem;
  border-bottom: 1px solid #aeaeae;
}

.post-new__title {
  margin-bottom: 0.4rem;
}

.byline {
  display: flex;
  align-items: center;
  width: 100%;
}

.byline__image {
  width: 34px;
  border-radius: 20px;
  margin-right: 10px;
}

.byline__image--member {
  width: 44px;
  border-radius: 22px;
  border: 1px solid;
  border-color: #00b100 transparent #00b100 transparent;
  padding: 4px;
}

.bookmark {
  display: flex;
  align-content: flex-end;
}
